<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<!-- namespace에는 xml파일과 연결할 Mapper interface 파일명을 패키지를 포함하여 적어주세요 -->
<mapper namespace="com.green.backend_plant_comunity.board.mapper.BoardMapper">
    <!--board-->
	<resultMap id="board" type="com.green.backend_plant_comunity.board.dto.BoardDTO">
        <id     column="BOARD_NUM"   property="boardNum"/>
        <result column="TITLE"       property="title"/>
        <result column="CONTENT"     property="content"/>
        <result column="MEM_ID"      property="memId"/>
        <result column="HERB_NUM"    property="herbNum"/>
        <result column="CATE_NUM"    property="cateNum"/>
        <result column="READ_CNT"    property="readCnt"/>
        <result column="LIKE_CNT"    property="likeCnt"/>
        <result column="DISLIKE_CNT" property="dislikeCnt"/>
        <result column="CREATE_DATE" property="createDate"/>
        <collection property="imgList" resultMap="boardImg"/>
    </resultMap>

    <!--boardImg-->
    <resultMap id="boardImg" type="com.green.backend_plant_comunity.board.dto.BoardImgDTO">
        <id     column="IMG_NUM"            property="imgNum"/>
        <result column="ORIGIN_IMG_NAME"    property="originImgName"/>
        <result column="ATTACHED_IMG_NAME"  property="attachedImgName"/>
        <result column="BOARD_NUM"          property="boardNum"/>
        <result column="IMG_URL" property="imgUrl"/>
        <result column="USED" property="used"/>
    </resultMap>

    <!--글쓸때 이미지 글번호와 일치 시키고 이미지 사용 확인-->
    <update id="updateImg">
        UPDATE BOARD_IMG
            SET
                BOARD_NUM = #{boardNum},
                USED = #{used}
        WHERE IMG_URL = #{imgUrl}
    </update>


    <!--글쓰기 등록-->
    <insert id="writeBoard">
        INSERT INTO BOARD(
            TITLE
            , CONTENT
            , MEM_ID
            , CATE_NUM
        )VALUES(
            #{title}
            , #{content}
            , #{memId}
            , #{cateNum}
        )
    </insert>

    <!--BOARD 테이블에 데이터 삽입 시 저장되는 BOARD_NUM을 조회하는 쿼리-->
    <select id="getNextBoardNum" resultType="int">
        SELECT IFNULL(MAX(BOARD_NUM), 0) + 1 FROM BOARD
    </select>

    <!--홈 화면 인기글 조회-->
    <select id="getPopularWriting" resultMap="board">
        SELECT
            BOARD_NUM,
            TITLE, MEM_ID,
            CATE_NUM,
            READ_CNT,
            LIKE_CNT,
            DISLIKE_CNT,
            CREATE_DATE
        FROM BOARD
        ORDER BY (LIKE_CNT + READ_CNT) DESC, CREATE_DATE DESC
        LIMIT 10
    </select>

    <!--마이팜 게시글 조회-->
    <select id="getMyFarmCommunity" resultMap="board">
        SELECT BOARD_NUM, TITLE, MEM_ID, HERB_NUM, READ_CNT, LIKE_CNT, DISLIKE_CNT, CREATE_DATE
        FROM BOARD
        WHERE MEM_ID = #{memId}
    </select>

    <!--파일선택시 url 데이터 베이스에 저장-->
    <insert id="insertUrl">
        INSERT INTO BOARD_IMG(
            ORIGIN_IMG_NAME
            , ATTACHED_IMG_NAME
            , IMG_URL
        )VALUES
        <foreach collection="imgList" item="boardImg" separator=",">
            (#{boardImg.originImgName},#{boardImg.attachedImgName},#{boardImg.imgUrl})
        </foreach>
    </insert>

    <!--사용하지 않는 이미지 조회-->
    <select id="getUnusedImg" resultMap="boardImg">
        SELECT
                IMG_NUM
                , ORIGIN_IMG_NAME
                , ATTACHED_IMG_NAME
                , IMG_URL
                , USED
        FROM BOARD_IMG
        WHERE USED = FALSE
    </select>

    <!--사용하지 않는 이미지 삭제-->
    <delete id="deleteUnusedImg">
        DELETE FROM BOARD_IMG
        WHERE IMG_NUM = #{imgNum}
    </delete>


    <!-- admin 단일 게시글 삭제-->
    <delete id="deleteBoardByAdmin">
        DELETE
        FROM BOARD
        WHERE BOARD_NUM = #{boardNum}
    </delete>

    <!--게시글 목록 조회-->
    <select id="getBoardList" resultMap="board">
        SELECT
              B.BOARD_NUM
            , CATE_NUM
            , TITLE
            , READ_CNT
            , LIKE_CNT
            , DISLIKE_CNT
            , (SELECT IMG_URL FROM BOARD_IMG WHERE BOARD_NUM = B.BOARD_NUM ORDER BY IMG_NUM LIMIT 1) AS IMG_URL
        FROM BOARD B LEFT JOIN BOARD_IMG I
        ON B.BOARD_NUM = I.BOARD_NUM
        ORDER BY CREATE_DATE DESC
    </select>

</mapper>

